<p id="notice"><%= notice %></p>

<p>
  <strong>Workflow:</strong>
  <%= @workflow_state.workflow.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @workflow_state.state %>
</p>
<p>
  <strong>Content:</strong>
  <%= @workflow_state.content %>
</p>

<h5 style="margin-bottom:0px;">Workflow Events</h5>
		<table style="margin-left:20px;">
			<tbody>
	<% @workflow_state.workflow_events.each do |workflow_event| %>
				<tr>
				<td><%= workflow_event.event %></td>
				 <td><%= link_to 'Show', workflow_state_workflow_event_path(@workflow_state, workflow_event) %></td>
				<td><%= link_to 'Edit', edit_workflow_state_workflow_event_path(@workflow_state, workflow_event) %></td>
		        <td><%= link_to 'Destroy', workflow_state_workflow_event_path(@workflow_state, workflow_event) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
		        </tr>
	<% end %>
			</tbody>
		</table>

<%= link_to 'Edit', edit_workflow_workflow_state_path(@workflow, @workflow_state) %> |
<%= link_to 'Back', workflow_workflow_states_path %>
<%= link_to 'Create event', new_workflow_state_workflow_event_path(@workflow_state) %>

